*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: lightsalmon;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: black;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}
.inner-box{
    position: absolute;
}